/* -----
  RESET
------ */

*{
    box-sizing: border-box;
    margin: 0PX;
    padding: 0px;
}

/* -----
  DEBUG
------ */

/* .debug main{
    background-color: aqua;
} */

/* -----
  COMMON
------ */
body{
    background-color: black;
}
.row{
    display: flex;
    justify-content: space-between;
}


/* -----
  HEADER
------ */

header{
    text-align: right;
}
button, i, .user{
    color: white;
    border: 0px;
}
header button{
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.7) ;
    border-radius: 7px;
}


/* -----
  MAIN
------ */

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
img{
    display: block;
    width: 100%;
}
main .col{
    margin: 5px 2.5px;
    max-width: calc(100% / 7 - 5px);
}
.col .img{
    position: relative;
}
.user{
    position: absolute;
    bottom: 0%;
    background-color: rgba(128, 128, 128, 0.7);
    padding: 5px;
}

/* -----
  FOOTER
------ */

footer{
    background-color: rgb(128, 128, 128);
}
.row .col:nth-child(odd){
    max-width: 20%;
}
.row .col:nth-child(even){
    max-width: 60%;
}
footer button{
    height: 72px;
    width: 110px;
    color: red;
}
.col-mid{
    align-items: center;
}
.col-left{
    align-items: center;
}
.col-mid i{
    margin: 0px 20px;
}
.col-left i{
    margin: 0px 10px;
}
.col div{
    text-align: center;
    font-size: small;
    margin-top: 10px;
}
.col i{
    text-align: center;
}
.glow{
    color: greenyellow;
}